<nav class="uk-navbar uk-navbar-attached">
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center">
            <h1>Home Page</h1>
        </div>
    </div>
</nav>
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <p>Home Page</p>
        </div>
    </div>
</div>
<div id="footer">
    <div class="uk-grid">
        <div class="uk-width-1-2 uk-text-center" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-icon-bars uk-icon-large"></a>
            <div data-bind="template: {name: 'dropdown'}" class="uk-dropdown uk-dropdown-up uk-text-left"></div>
        </div>
        <div class="uk-width-1-2 uk-text-center">
            <a href="mailto:?subject=Empowered21&body=http://www.greyback.net" class="uk-icon-external-link uk-icon-large"></a>
        </div>
    </div>
</div>